/* ICONE */
header {
  padding-right: 5em;
  padding-top: 1.5em;
  box-shadow: 2px 2px 5px #808080;
  position: fixed;
}

.iconhome {
  padding-right: 4em;
  padding-top: 1.5em;
}

.iconhome nav a {  
  font-size: 2em;
  color: black;
  background-color: transparent;
  text-decoration: none;
  float: right;
  letter-spacing: 0.75em;
}

header nav {
  padding-right: 2em;
}

header nav a {
  padding-right: 0.5;
  font-size: 2em;
  color: black;
  background-color: transparent;
  text-decoration: none;
  float: right;
  letter-spacing: 0.75em;
}

header nav a:hover {
  color: #696969;
}
.iconhome nav a:hover {
  color: #696969;
}

/* TITOLI */
h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: #212121;
  font-size: 3em;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  display: inline;
}

h2 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: #212121;
  letter-spacing: 0.1em;
  font-size: 3em;
  margin-top: 0;
  margin-left: 0.5em;
  margin-bottom: 0;
}

h3 {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.titolopag {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  letter-spacing: 0.2em;
}

span {
  position: absolute;
  left: 50px;
  top: 110px;
}

/* TEXT */
main {
  margin-top: 3em;
  text-align: center;
  margin-left: 220px;
  margin-right: 220px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3;
  background-color: transparent;
}

.home {
  margin-top: 1em;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 3px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3;
}

/* TEXT ALIGN */
.sx {
  text-align: left;
}

.dx {
  text-align: right;
}

/* IMMAGINI */
img {
  z-index: -1;
  color: transparent;
  position: relative;
}

.imgstili {
  width: 30%;
  border-radius: 10px;
  opacity: 0.9;
  background-color: transparent;
  display: block;
}

.imgbenef {
  width: 30%;
}

.imgbenef2 {
  width: 50%;
}

.base {
  font-size: 2.3em;
  font-family: 'Viga', sans-serif;
}

.location, .location2{
  width: 40%;
  border-radius: 5px;
  display: inline-block;
}

.location {
  opacity: 0.9;
}

.location2 {
  opacity: 0.9;
}



/* BUTTON HOME */
main .button {
  background-color: transparent;
  text-align: center;
  border: 2px solid #293133;
  border-radius: 8px;
  font-size: 35px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.10em;
  height: 100px;
  width: 200px;
} 

main .button i {
  font-size: 1em;
}

.button:hover {
  background-color: #fcfffc;
}

main nav ul li {
  display: inline-block;
  min-width: 30%;
}

main nav ul {
  margin-bottom: 0;
  margin-top: 50px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 5em;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

/* SIDE NAV-BAR  */
body {
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #696969;/*grigio scuro*/
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  color: black;
  padding-bottom: 0;
  padding-top: 0;
}

#main:hover {
  color: #696969; /*grigio scuro*/
}

/* BUTTON TOP */
#back2Top {
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 40px;
    border-radius: 15px;
    background-color: #ccccff;
    color: black;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #cceeff;
    color: #696969; /*grigio scuro*/
}

#back2top2 {
    background-color: #cceed0;
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 40px;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
}

#back2top2:hover {
  background-color: #ffffcc;
  color: #696969; /*grigio scuro*/
}

#back2top3 {
    background-color: #ffffcc;
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 40px;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
}

#back2top3:hover {
  background-color: #ffddcc;
  color: #3d3d3d; /*grigio scuro*/
}



.global-header {
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  transition: top .2s ease-in;
}

.js-global-header-scrolling {
 top: -6em; /* Height of the header */
}