/* HOME */
.home {
  font-size: 1.2em;
  letter-spacing: 0.10em;
  font-family: 'Roboto', sans-serif;
  margin-top: -2%;
}

.screen {
  width: 110%;
  min-width: 80%;
  margin-top: -1.5%;
  margin-left: -4%;
}


/* BUTTON HOME */
main .button {
  background-color: #e6a157;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 100%;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 0.10em;
  min-height: 80px;
  min-width: 170px;
} 

main .button i {
  font-size: 1.5em;
}

.button:hover {
  background-color: #c9753d;
}

.homebutton {
  font-size: 2em;
  color: black;
  background-color: transparent;
  text-align: center;
}

nav ul li {
  display: inline-block;
  min-width: 30%;
}


/* MARGIN PAG */

.sx {
  text-align: left;
}

h3 {
  font-size: 2em;
}

.dx {
  text-align: right;
}

.imgstili {
  width: 30%;
  border-radius: 10px;
  opacity: 0.9;
}

.imgbenef {
  width: 30%;
}

.imgbenef2 {
  width: 50%;
}

.base {
  font-size: 2.3em;
  font-family: 'Viga', sans-serif;
}

/* ICONE */

header {
  padding-right: 5em;
  padding-top: 1.5em;
}

header nav a {
  padding: .25rem 0;
  font-size: 2em;
  color: #c9753d;
  background-color: transparent;
  text-decoration: none;
  float: right;
  letter-spacing: 0.75em;
}

header nav a:hover {
  font-size: 2.3em;
  color: #c9753d;
}

main {
  margin-top: 3em;
  text-align: center;
  margin-left: 170px;
  margin-right: 170px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2;
}

footer {
  text-align: center;
  margin-top: 5em;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.link {
  font-size: 1em;
  color: #a00000;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #660000;
}

/* IMGS LOCATION */
.location, .location2{
  width: 40%;
  border-radius: 30px;
  display: inline-block;
}

.location {
  opacity: 0.85;
}

.location2 {
  opacity: 0.75;
}


/* Dropdown Button */
.dropbutton {
  background-color: black;
  color: white;
  padding: 18px;
  font-size: 25px;
  border: none;
  border-radius: 8px;
}

.dropdown {
  position: fixed;
  display: inline-block;
  top: 7%;
  right: 93.5%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6a157;
  width: 8em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c9753d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbutton {
  background-color: #4f4f4f;
}
